<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <!-- checks to make sure we are only evaluating string !-->
  <% if msg.is_a?(String) %>
    <!-- CSS styling for button, ERB to evaluate flash type using ternary. If notice = true, success flash, else, alert flash !-->
    <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <!-- ERB to create a div for the message to exist in !-->
      <%= content_tag :div, msg %>
      <!-- small 'x' button to close flash message !-->
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
